<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>
<body >
    <div class="container">
        <a class="logo" href="#">
            <img class="logo-image" src="2.png" alt="Vault Mate Logo">
            <span class="site-title">VAULT MATE</span>
        </a>
        <nav class="menu">
            <ul>
                <li><a href="/main">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/signin">LOG OUT</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>